---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//
// 리모트 테마 또는 Gem 테마를 사용하는 경우
// 부분적으로 _sass 내의 파일을 수정할 수가 없다고 함.
// 
// 때문에 assets/css/main.scss 파일에서 재정의를 통해 수정을 한다고 함.
//

//
// Breakpoints
//   
$small: 576px;            // default 600px
$medium: 768px;
$medium-wide: 992px;      // default 900px
$large: 1200px;           // default 1024px
$x-large: 1400px;         // default 1280px
$max-width: 1600px;       // default $x-large

//
// change sidebar breakpoint
//
.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($medium-wide) {
    position: absolute;
    top: 0;
    right: 0;
    width: $right-sidebar-width-narrow;
    margin-right: -1 * $right-sidebar-width-narrow;
    padding-left: 1em;
    z-index: 10;

    &.sticky {
      @include clearfix();
      position: -webkit-sticky;
      position: sticky;
      top: 2em;
      float: right;

      .toc {
        .toc__menu {
          overflow-y: auto;
          max-height: calc(100vh - 7em);
        }
      }
    }
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
    margin-right: -1 * $right-sidebar-width;
  }
}
   
//
// Grid
//
// $right-sidebar-width-narrow: 100px !default;    // default 200px
// $right-sidebar-width: 200px !default;           // default 300px
// $right-sidebar-width-wide: 250px !default;      // default 400px

// font 크기 수정
// html {
//     font-size: 14px;                    // Default 16px;
  
//     @include breakpoint($medium) {
//       font-size: 16px;                  // Default 18px;
//     }
  
//     @include breakpoint($large) {
//       font-size: 18px;                  // Default 20px;
//     }
  
//     @include breakpoint($x-large) {
//       font-size: 20px;                  // Default 22px;
//     }
  
//   }
