---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//
// 리모트 테마 또는 Gem 테마를 사용하는 경우
// 부분적으로 _sass 내의 파일을 수정할 수가 없다고 함.
// 때문에 /assets/css/main.scss 파일에서 재정의를 통해 수정을 하도록 함.
//

//
// Breakpoints 기준값 재정의 -  import 이전에 정의해야 함.
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_variables.scss
//   
$small: 576px;            // default 600px
$medium: 720px;           // default 768px
$medium-wide: $medium;    // default 900px
$large: 992px;            // default 1024px
$x-large: 1340px;         // default 1280px
$max-width: 1600px;       // default $x-large

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//
// font 크기 재정의 - import 이후 정의해야 함.
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_reset.scss
//
html {
  font-size: 16px;                    // Default 16px;

  @include breakpoint($medium) {
    font-size: 18px;                  // Default 18px;
  }

  @include breakpoint($large) {
    font-size: 18px;                  // Default 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;                  // Default 22px;
  }

}


//
// link underline 제거
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_basee.scss
//
a {
  text-decoration: none;                // 추가된 코드입니다.

  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}