---
layout: archive
---
{{ content }}

{% for post in paginator.posts limit: site.paginate %}
  {% if post %}
    {% if post.categories[0] %}
      {% capture title %}{{ post.categories[0] | upcase }}: {{post.title}}{% endcapture %}
    {% else %}
      {% assign title = post.title %}
    {% endif %}

    {% assign filter = page.header.overlay_filter | default: post.header.overlay_filter %}
    {% assign color = page.header.overlay_color | default: post.header.overlay_color %}

    {% if post.header.overlay_image %}
      {% capture image %}{{ post.header.overlay_image }}{% endcapture %}
    {% elsif post.image %}
      {% capture image %}{{ post.image }}{% endcapture %}
    {% else %}
      {% unless color %}
        {% assign min = 96 %}
        {% assign max = 160 %}
        {% assign diff = max | minus: min %}
        {% assign r = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign g = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign b = "now" | date: "%N" | modulo: diff | plus: min %}
        {% capture color %}rgb({{ r }},{{ g }},{{ b }}){% endcapture %}
      {% endunless %}
    {% endif %}

    <a href="{{ post.url }}">
      {% include image_hero.html 
        overlay_image = image
        overlay_filter = filter
        overlay_color = color
        excerpt = post.excerpt
        title = title
        tagline = post.tagline
        style = "padding: 2em; margin: 0.5em; border-radius: 20px;"
      %}
    </a>
  {% endif %}
{% endfor %}

{% include paginator.html %}
